# Ignore folders named "target" anywhere in the directory structure
**/target/

# Ignore folders named "target" anywhere in the directory structure
**/logs/

# Ignore files with the extension ".env" anywhere in the directory structure
**/*.env
